@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.navigation {
  z-index: 10000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .navigation_logo {

    display: flex;
    align-items: center;
    gap: 42px;

    .burger {
      cursor: pointer;

      transform: translateY(-3px);
      display: none;

      @include respond-to('laptop') {
        display: block;
      }

      @include respond-to('mobile') {
        display: block;
      }
    }
  }

  .navigation_list {

    display: flex;
    align-items: center;
    gap: 34px;

    @include respond-to('laptop') {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }

    .navigation_item {

      .navigation_link {

        color: $pageColor;
        font-weight: 700;
        font-size: $textH6;
        letter-spacing: $h4Letter;

        .navigation_link__title {
          //placeholder
          color: $firstColor;
        }

      }
    }
  }
}


.navigation_list_footer {
  margin-top: 41px;
  display: none;

  @include respond-to('laptop') {
    display: none;
  }

  @include respond-to('mobile') {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
  }

  .navigation_item {

    .navigation_link {

      color: $pageColor;
      font-weight: 700;
      font-size: $textH6;
      letter-spacing: $h4Letter;

      .navigation_link__title {
        //placeholder
        color: $firstColor;
      }

    }
  }
}


.col {
  flex-direction: column;
}

.burger_menu {
  display: none;
  position: absolute;
  top: 98px;
  left: 0;
  width: 100vw;
  z-index: 100;
  transform: translateY(-500vw);

  transition: all 0.5s ease-in-out;

  @include respond-to('laptop') {
    display: block;
    margin-left: -40px;
  }

  @include respond-to('mobile') {
    display: block;
    margin-left: -24px;
  }


  background: white;
}


.burger_hide {
  transform: translateY(0);
}