@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.category_card__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 350px;
  height: 164px;
  background-color: $primaryTextColor;

  border-radius: 8px;

  @include respond-to('mobile') {
    max-width: 100%;
  }

  .img {
    position: absolute;
    top: 0;
    transform: translateY(-50%);

  }

  .shadow {
    width: 50%;
    box-shadow: 1px 18px 26px 3px rgba(0, 0, 0, 0.8);
  }


  .name {
    font-weight: 700;
    font-size: $textH6;
    letter-spacing: 1.29px;

    margin-top: 36px;
    margin-bottom: 15px;

    text-transform: uppercase;


  }
}
