@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.conditional_card__render {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;

  @include respond-to('laptop') {
    flex-direction: column;
  }

  @include respond-to('mobile') {
    flex-direction: column;
  }

  img {
    @include respond-to('laptop') {
      object-fit: cover;
      width: 100%;
    }

    @include respond-to('mobile') {
      object-fit: cover;
      width: 100%;
    }
  }
}

.product_card__item {
  display: flex;
  align-items: center;

  justify-content: space-between;

  @include respond-to('laptop') {
    flex-direction: column;
  }

  @include respond-to('mobile') {
    flex-direction: column;
  }

  img {
    @include respond-to('laptop') {
      object-fit: cover;
      width: 100%;
    }

    @include respond-to('mobile') {
      object-fit: cover;
      width: 100%;
    }
  }
}


.content {
  width: 460px;

  display: flex;
  flex-direction: column;

  @include respond-to('laptop') {
    padding: 0 100px;
    width: 100%;

    align-items: center;
  }

  @include respond-to('mobile') {
    padding: 0 20px;
    width: 100%;

    align-items: center;
  }

  .new {
    font-weight: 400;

    font-size: $overline;
    letter-spacing: $overlineLetter;
    line-height: $overLineInterval;

    color: $firstColor;

    @include respond-to('laptop') {
      margin-top: 10px;
    }

    @include respond-to('mobile') {
      margin-top: 10px;
    }
  }

  .title {
    font-weight: 700;

    font-size: $textH2;
    letter-spacing: $h2Letter;
    line-height: $h2Line;

    color: black;

    margin-top: 16px;

    text-transform: uppercase;

    @include respond-to('laptop') {
      text-align: center;
    }

    @include respond-to('mobile') {
      text-align: center;
      font-size: $textH4;
    }
  }

  .content_text {
    font-weight: 500;
    font-size: $textBody;
    line-height: $bodyLine;

    color: black;
    opacity: 0.5;

    margin-top: 32px;
    margin-bottom: 40px;

    @include respond-to('laptop') {
      text-align: center;
    }

    @include respond-to('mobile') {
      text-align: center;
    }
  }
}