@import "../../../styles/abstracts/variables";

.summary_section {
  display: flex;
  flex-direction: column;

  padding: 33px;

  gap: 30px;

  grid-column: 3;
  align-self: start;
  background-color: white;

  border-radius: 8px;

  .summary_section__title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.29px;

    color: black;
  }
}