@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.section_slider {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  .slider_list {
    display: flex;
    align-items: center;

    .slider_item {
      display: flex;
      align-items: center;
    }
  }

  .slider_bg {
    background-color: #141414;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100vw;
    transform: translateX(-50%);
    z-index: -1;

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.swiper {
  width: 100%;
  height: 100%;

  background-color: #141414;
}

.swiper_slide {
  display: flex;
  align-items: center;
  gap: 150px;
  width: 100% !important;

  @include respond-to('laptop') {
    justify-content: center;
    gap: 0;
    padding: 167px 0;

  }

  @include respond-to('mobile') {
    justify-content: center;
    gap: 0;

    padding: 167px 0;

  }


  .slide_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;

    &:last-child {
      gap: 40px;
    }

    @include respond-to('laptop') {
      align-items: center;
      justify-content: center;

      max-width: 500px;
    }

    @include respond-to('mobile') {
      align-items: center;
      justify-content: center;

      max-width: 500px;
    }

    .new_product {
      font-weight: 400;
      letter-spacing: $overlineLetter;
      font-size: $overline;

      color: gray;
    }

    .title {
      font-weight: 700;
      font-size: $textH1;
      line-height: $h1Line;
      letter-spacing: $h1Letter;

      text-transform: uppercase;

      color: white;
    }

    .subtitle {
      color: white;
      font-size: 25px;

      font-weight: 400;

      opacity: 0.75;

      @include respond-to('laptop') {
        text-align: center;
        font-size: $textBody;

        line-height: 25px;
      }

      @include respond-to('mobile') {
        text-align: center;
        font-size: $textBody;

        line-height: 25px;
      }
    }
  }

  .swiper_img {

    @include respond-to('laptop') {
      position: absolute;
      z-index: -10;
    }

    @include respond-to('mobile') {
      position: absolute;
      z-index: -10;
    }

  }
}