//COLORS
$firstColor: #D87D4A;
$secondColor: #101010;
$primaryTextColor: #F1F1F1;
$thirdColor: #FAFAFA;
$hoverColor: #FBAF85;
$pageColor: #FFFFFF;
$blackColor: #000000;

//$activeColor: green;
//$errorColor: #FF6F5B;

//FONT FACE
$fontPrimary: 'Manrope';

//TEXT SIZE
$textH1: 58px;
$textH2: 40px;
$textH3: 32px;
$textH4: 28px;
$textH5: 24px;
$textH6: 18px;
$overline: 14px;
$subTitle: 13px;
$textBody: 15px;

//TEXT LINE SPACE

$h1Line: 58px;
$h2Line: 44px;
$h3Line: 36px;
$h4Line: 38px;
$h5Line: 33px;
$h6Line: 24px;
$overLineInterval: 19px;
$subTitleLine: 25px;
$bodyLine: 25px;

//TEXT LETTER SPACE

$h1Letter: 2px;
$h2Letter: 1.5px;
$h3Letter: 1.15px;
$h4Letter: 2px;
$h5Letter: 1.7px;
$h6Letter: 1.3px;
$overlineLetter: 10px;
$subTitleLetter: 1px;
