@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.section_checkout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  gap: 0 30px;

  margin-top: 50px;

  @include respond-to('laptop') {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  @include respond-to('mobile') {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}