@import "../../../styles/abstracts/variables";


.checkout_form {
  display: flex;
  flex-direction: column;

  padding: 54px 48px;

  gap: 50px;

  grid-column: 1/3;

  background-color: white;

  border-radius: 8px;

  .checkout_form__title {
    font-weight: 700;
    font-size: $textH3;
    letter-spacing: $h3Letter;

    color: black;
  }
}

.checkout_sub {
  font-weight: 700;
  font-size: 13px;

  color: $firstColor;

  letter-spacing: 0.93px;
}

.section_billing {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .billing_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .billing_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 16px;
    }

    .billing_phone {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 20px;
    }
  }
}

.section_shipping {
  margin-top: 50px;

  display: flex;
  flex-direction: column;

  gap: 16px;

  .zip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
  }

  .country {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;

  }
}