@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.section_rec {
  margin-top: 160px;

  display: flex;
  flex-direction: column;
  gap: 64px;

  .section_rec_title {
    font-weight: 700;
    font-size: $textH2;
    letter-spacing: $h2Letter;

    color: black;

    text-align: center;

    @include respond-to('mobile') {
      font-size: $textH4;
    }
  }

  .rec_list {
    display: flex;
    gap: 120px;
    flex-wrap: nowrap;
    overflow-x: scroll;

    @include respond-to('mobile') {
      flex-direction: column;
    }

    .rec_item {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .img__wrapper {
        background-color: #F1F1F1;
        padding: 62px 100px 62px 100px;
        display: grid;
        place-items: center;

        @include respond-to('mobile') {
          padding: 0;
        }
      }

      .item_title {
        font-weight: 700;
        font-size: $textH5;
        letter-spacing: $h5Letter;
        color: black;

        text-align: center;
      }

      .btn_wrapper {
        display: flex;
        align-self: center;
      }
    }
  }
}