@charset "UTF-8";
.section_gallery {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 168px;
}
.section_gallery .first_block__wrapper {
  background-color: #D87D4A;
  border-radius: 8px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .section_gallery .first_block__wrapper {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .section_gallery .first_block__wrapper {
    padding: 20px;
  }
}
.section_gallery .first_block__wrapper .first_block {
  padding: 0 95px 0 117px;
  display: flex;
  justify-content: space-around;
  align-items: end;
  background-color: #D87D4A;
  border-radius: 200px;
  height: 560px;
  overflow: hidden;
  background-image: url("../../assets/images/gallery/pattern-circles.svg");
  background-position: -60% 20%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .section_gallery .first_block__wrapper .first_block {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    background-position: center;
  }
  .section_gallery .first_block__wrapper .first_block img {
    width: 172px;
    height: 207px;
  }
}
@media (max-width: 767px) {
  .section_gallery .first_block__wrapper .first_block {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    background-position: center;
    border-radius: 0px;
    padding: 0;
  }
  .section_gallery .first_block__wrapper .first_block img {
    width: 172px;
    height: 207px;
  }
}
.section_gallery .first_block__wrapper .first_block img {
  transform: translateY(20px);
}
.section_gallery .first_block__wrapper .first_block .first_block__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 349px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .section_gallery .first_block__wrapper .first_block .first_block__content {
    justify-content: center;
  }
  .section_gallery .first_block__wrapper .first_block .first_block__content div {
    align-self: center;
  }
}
@media (max-width: 767px) {
  .section_gallery .first_block__wrapper .first_block .first_block__content {
    justify-content: center;
  }
  .section_gallery .first_block__wrapper .first_block .first_block__content div {
    align-self: center;
  }
}
.section_gallery .first_block__wrapper .first_block .first_block__content .title {
  font-weight: 700;
  font-size: 58px;
  line-height: 58px;
  letter-spacing: 2px;
  color: white;
  z-index: 100;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .section_gallery .first_block__wrapper .first_block .first_block__content .title {
    text-align: center;
    font-size: 56px;
  }
}
@media (max-width: 767px) {
  .section_gallery .first_block__wrapper .first_block .first_block__content .title {
    text-align: center;
    font-size: 36px;
  }
}
.section_gallery .first_block__wrapper .first_block .first_block__content .content {
  margin-top: 24px;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 25px;
  font-size: 15px;
  z-index: 100;
  color: white;
  opacity: 0.55;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .section_gallery .first_block__wrapper .first_block .first_block__content .content {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .section_gallery .first_block__wrapper .first_block .first_block__content .content {
    text-align: center;
  }
}
.section_gallery .first_block__wrapper .first_block .first_block__content a {
  z-index: 100;
}
.section_gallery .second_block {
  padding: 0 0 0 95px;
  position: relative;
  display: flex;
  width: 100%;
  height: 352px;
  background-image: url("../../assets/images/gallery/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 8px;
}
.section_gallery .second_block .second_block__content {
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 30px;
}
.section_gallery .third_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 30px;
}
@media (max-width: 767px) {
  .section_gallery .third_block {
    grid-template-columns: 1fr;
    gap: 30px 30px;
  }
}
.section_gallery .third_block .left {
  background-image: url("../../assets/images/gallery/image-earphones-yx1.jpg");
  /* Путь к вашему изображению */
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 320px;
  border-radius: 8px;
}
.section_gallery .third_block .right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 101px 0 101px 95px;
  border-radius: 8px;
  background-color: #F1F1F1;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .section_gallery .third_block .right {
    padding: 101px 50px;
  }
}
@media (max-width: 767px) {
  .section_gallery .third_block .right {
    padding: 101px 50px;
  }
}

.block_content {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 2px;
}

/*# sourceMappingURL=gallery.module.css.map */
