@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.section_gallery {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 168px;

  .first_block__wrapper {

    background-color: #D87D4A;
    border-radius: 8px;

    @include respond-to('laptop') {
      padding: 20px;
    }
    @include respond-to('mobile') {
      padding: 20px;
    }

    .first_block {
      padding: 0 95px 0 117px;
      display: flex;
      justify-content: space-around;
      align-items: end;

      @include respond-to('laptop') {
        flex-direction: column;
        align-items: center;
        justify-content: unset;

        background-position: center;

        img {
          width: 172px;
          height: 207px;
        }
      }

      @include respond-to('mobile') {
        flex-direction: column;
        align-items: center;
        justify-content: unset;

        background-position: center;

        border-radius: 0px;

        padding: 0;

        img {
          width: 172px;
          height: 207px;
        }
      }

      background-color: $firstColor;

      border-radius: 200px;

      height: 560px;
      overflow: hidden;

      background-image: url('../../assets/images/gallery/pattern-circles.svg');
      background-position: -60% 20%;
      background-repeat: no-repeat;

      img {
        transform: translateY(20px);
      }

      .first_block__content {
        display: flex;
        flex-direction: column;
        align-self: center;

        max-width: 349px;

        @include respond-to('laptop') {
          justify-content: center;

          div {
            align-self: center;
          }
        }

        @include respond-to('mobile') {
          justify-content: center;

          div {
            align-self: center;
          }
        }


        .title {
          font-weight: 700;
          font-size: $textH1;
          line-height: $h1Line;
          letter-spacing: $h1Letter;

          color: white;

          z-index: 100;

          @include respond-to('laptop') {
            text-align: center;
            font-size: 56px;
          }
          @include respond-to('mobile') {
            text-align: center;
            font-size: 36px;
          }
        }

        .content {
          margin-top: 24px;
          margin-bottom: 40px;
          font-weight: 500;
          line-height: $subTitleLine;
          font-size: 15px;

          z-index: 100;

          color: white;

          opacity: 0.55;

          @include respond-to('laptop') {
            text-align: center;
          }

          @include respond-to('mobile') {
            text-align: center;
          }
        }

        a {
          z-index: 100;
        }
      }

    }
  }

  .second_block {
    padding: 0 0 0 95px;

    position: relative;
    display: flex;

    width: 100%;
    height: 352px;

    background-image: url('../../assets/images/gallery/image-speaker-zx7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;

    border-radius: 8px;

    .second_block__content {
      display: flex;
      align-self: center;
      flex-direction: column;

      gap: 30px;
    }

  }

  .third_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;

    @include respond-to('mobile') {
      grid-template-columns: 1fr;
      gap: 30px 30px;
    }

    .left {
      background-image: url('../../assets/images/gallery/image-earphones-yx1.jpg'); /* Путь к вашему изображению */
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;

      height: 320px;

      border-radius: 8px;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 32px;

      padding: 101px 0 101px 95px;

      @include respond-to('laptop') {
        padding: 101px 50px;
      }
      @include respond-to('mobile') {
        padding: 101px 50px;
      }

      border-radius: 8px;

      background-color: $primaryTextColor;
    }
  }
}

.block_content {
  font-weight: 700;
  font-size: $textH4;
  letter-spacing: $h4Letter;
}