@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/reset";
@import "./typography/fonts";


body {
  padding: 0 165px;

  @include respond-to('laptop') {
    padding: 0 40px;
  }

  @include respond-to('mobile') {
    padding: 0 24px;
  }
}